@import 'swiper/swiper-bundle.min.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

section.swiper-blog {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 50px;

    .container{
        max-width: 150%;
        width: 90%;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 25px;
        
    h1 {
        font-family: "Poppins", sans-serif;
        color: #000000;
        font-size: 28px;
        font-weight: 600;
        line-height: 29px;
        text-align: left;
    }

      .swiper {
    .swiper-wrapper {
        display: flex;
        width: 100% !important;
        height: 60% !important;
}

  .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 28% !important;
    height: 90% !important;
    margin-right: 10px !important;
    background-color: #E6EDEC;
    border-radius: 10px;
    

    img {
        width: 100%;
        height: 65%;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
      }

      
 p {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
  }

a {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    padding-left: 20px;
    padding-bottom: 20px;


    color: #F15932;
    text-decoration: none;
  }
  }
}


.blog-scroll-container {
  width: 80% !important;
  height: 20% !important;
  display: flex;
  justify-content: space-between;
  align-items: center;

.blog-scroll-icon-left,
.blog-scroll-icon-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: #F0F0F0;
  border-radius: 50px;
  cursor: pointer;

  &:hover{
    box-shadow: 0 0 0 3px #fa938c;
  }
  
  .fa-arrow-left,
  .fa-arrow-right {
  width: 25%;
  height: 25%;
}
}



.swiper-blog-scrollbar {
    width: 75%;
    height: 2px;
    background-color: #E0E0E0;
    }
  
    .swiper-scrollbar-drag {
      background: #FE3E31;
      border-radius: 10px;
    }
}


    }
}

/*1920 x 1080 ->  */
@media screen and (min-width: 1599px){

}


/*1440 x 900 ->  */
/*1366 x 768 ->  */
/*1280 x 720 ->  */
@media screen and (min-width: 1279px) and (max-width: 1599px) {

  

}


/*1024 x 768 iPad -> */
@media screen and (min-width: 1024px) and (max-width: 1279px) {

}


/*768 x 1024 iPad -> */
/*800 x 1280 Google Nexus -> */
@media screen and (min-width: 767px) and (max-width: 1024px) {
  section.swiper-blog {

    .container{
        
  .swiper-slide {

 p {
    font-size: 14px;
  }

a {
    font-size: 14px;
  }
  }

  .blog-scroll-container {
 
  .swiper-blog-scrollbar {
      width: 70%;
      }
  }
    }
  }
}


@media screen and (min-width: 640px) and (max-width: 767px){
  section.swiper-blog {

    .container{
        
  .swiper-slide {

 p {
    font-size: 12px;
  }

a {
    font-size: 12px;
  }
  }

  .blog-scroll-container {
 
  .swiper-blog-scrollbar {
      width: 60%;
      }
  }
    }
  }
}




@media screen and (min-width: 360px) and (max-width: 640px){
  section.swiper-blog {

    .container{
        
  .swiper-slide {

 p {
    font-size: 10px;
  }

a {
    font-size: 10px;
  }
  }

  .blog-scroll-container {
 
  .swiper-blog-scrollbar {
      width: 40%;
      }
  }
    }
  }
}