@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



section.menu {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
  
  
  .nav-top-container {
      width: 90%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      padding: 5px;
     
    
  
  .nav-top-left {
    width: 20%;
    display: flex;
    justify-content: flex-start;

    img {
      width: 70%;
    }
   
  }
  
  .nav-top-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    border: solid 1px #f2f2f2;
    border-radius: 10px;
    background: #f2f2f2;
}

    .nav-top-center > button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 40px;
        margin: 5px;
    
        border-radius: 10px;
        border-color: transparent;
        background-color: #FE3E31;
        cursor: pointer;
    }

    .nav-top-center > input {
        width: 50%;
        margin-left: 5%;
        background-color: transparent;
        border: none;
    }

    .nav-top-center input:focus {
      outline: none;
    }
        
  
    .nav-top-right {
        width: 20%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 15px;
      
  
        .nav-top-right-item-1, 
          .nav-top-right-item-2, 
          .nav-top-right-item-3 {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              gap: 5px;
              
              font-family: "Poppins", sans-serif;
              font-size: 10px;
              font-weight: 400;

              &:hover {
                font-weight: 800;
              }
       
          }
  
          .nav-top-right-item-1 {
  
            img {
              width: 16px;
              height: 16px;
          }
          }
  
          .nav-top-right-item-2,
          .nav-top-right-item-3 {

  
            img {
              width: 14px;
              height: 16px;
          }
          }
    }
}
  
          
          
  
  .nav-bottom-container {
      width: 90%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border-top: 1px solid #F2F2F2;
      padding: 10px;
  
      a {
        text-decoration: none;
        font-family: "Poppins", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-align: center;

        &:hover {
          color: #FE3E31;
        }
    }
  
      .nav-bottom-left {
          display: flex;
          flex-basis: 80%;
          justify-content: space-between;
      }
      
      .nav-bottom-right {
          display: flex;
          flex-basis: 20%;
          justify-content: flex-end;
          gap: 25px;
      }
  }
}