@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



section.menu {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
  
  
  .nav-top-container {
      width: 90%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 5px;
     
    
  
  .nav-top-left {
    display: flex;
    flex-basis: 20%;
    justify-content: flex-start;
    height: 90%;

    img {
      object-fit: contain;
    }
   
  }
  
  .nav-top-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 50%;
    border: solid 1px #f2f2f2;
    border-radius: 10px;
    background: #f2f2f2;
}

    .nav-top-center > button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 40px;
        margin: 5px;
    
        border-radius: 10px;
        border-color: transparent;
        background-color: #FE3E31;
        color: #ffffff;
        cursor: pointer;

        &:hover{
          background-color: white;
          color: #F15932;
          border: 1px solid #F15932;
        }
    }

    .nav-top-center > input {
        width: 50%;
        margin-left: 5%;
        background-color: transparent;
        border: none;
    }

    .nav-top-center input:focus {
      outline: none;
    }
        
  
    .nav-top-right {
        display: flex;
        flex-basis: 20%;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 15px;
      
  
        .nav-top-right-item-1, 
          .nav-top-right-item-2, 
          .nav-top-right-item-3 {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              gap: 5px;
              
              font-family: "Poppins", sans-serif;
              font-size: 10px;
              font-weight: 400;

              &:hover {
                font-weight: 800;
              }
       
          }
  
          .nav-top-right-item-1 {
  
            img {
              width: 16px;
              height: 16px;
          }
          }
  
          .nav-top-right-item-2,
          .nav-top-right-item-3 {

  
            img {
              width: 14px;
              height: 16px;
          }
          }
    }
}
  
          
          
  
  .nav-bottom-container {
      width: 90%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border-top: 1px solid #F2F2F2;
      padding: 10px;
  
      a {
        text-decoration: none;
        font-family: "Poppins", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-align: center;

        &:hover {
          color: #FE3E31;
        }
    }
  
      .nav-bottom-left {
          display: flex;
          flex-basis: 80%;
          justify-content: space-between;
          align-items: center;
      }
      
      .nav-bottom-right {
          display: flex;
          flex-basis: 20%;
          justify-content: flex-end;
          gap: 25px;
      }
  }

  .nav-bottom-container-phones { 
    width: 90%;
    padding-bottom: 10px;

  .dropdown {
      position: relative;
      display: none;
      margin-right: 5%;
      cursor: pointer;
  
      .dropdown-content {
        display: none;
        
        &.show {

          a {
            color: white;
            font-family: "Poppins", sans-serif;
            font-weight: 400;
            font-size: 12px;

            &:hover {
              font-weight: 600;
            }
          }

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        flex-basis: 20%;
        position: absolute;
        left: 0;
        background-color: #FE3E31;
        width: 200px;
        height: 250px;
        border-radius: 10px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
      }
    }
  }
  
  

  .searchbar {
    display: none;
    justify-content: space-between;
    align-items: center;
    flex-basis: 85%;
    border: solid 1px #f2f2f2;
    border-radius: 10px;
    background: #f2f2f2;
}

    .searchbar > button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 35px;
        margin: 5px;
    
        border-radius: 10px;
        border-color: transparent;
        background-color: #FE3E31;
        color: #ffffff;
        cursor: pointer;
    }

    .searchbar > input {
        width: 50%;
        margin-left: 5%;
        background-color: transparent;
        border: none;
        font-size: 10px;
    }

    .searchbar input:focus {
      outline: none;
    }

    
  }}



/*1920 x 1080 ->  */
@media screen and (min-width: 1599px){

}


/*1440 x 900 ->  */
/*1366 x 768 ->  */
/*1280 x 720 ->  */
@media screen and (min-width: 1279px) and (max-width: 1599px) {

  

}


/*1024 x 768 iPad -> */
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  section.menu{
  .nav-bottom-container {
    
    a {
      font-family: "Poppins", sans-serif;
      font-size: 14px;
      font-weight: 500;
      line-height: 24px;
      text-align: center;
  }
}
}
}


/*768 x 1024 iPad -> */
/*800 x 1280 Google Nexus -> */
@media screen and (min-width: 767px) and (max-width: 1024px) {
  section.menu{

    .nav-top-container{
    
        .nav-top-center > input {
            width: 55%;
        }
    
      .nav-top-right {

        .nav-top-right-item-1 {

          img {
            width: 14px;
            height: 14px;
        }
        }

        .nav-top-right-item-2,
        .nav-top-right-item-3 {


          img {
            width: 12px;
            height: 14px;
        }
        }
  }
}

    .nav-bottom-container {
      
      a {
        font-family: "Poppins", sans-serif;
        font-size: 10px;
        font-weight: 500;
        line-height: 24px;
        text-align: center;
    }
  }

  .nav-bottom-container-phones {
    display: none;
  }
  }


  }


@media screen and (min-width: 640px) and (max-width: 767px){
  section.menu{

    .nav-top-container{

      .nav-top-left {
        flex-basis: 30%;
        height: 75%;
    
        img {
          object-fit: contain;
        }
       
      }
      .nav-top-center{
        display: none;
      }

      .nav-top-right {
        gap: 10px;

        .nav-top-right-item-1 {
          display: none;
        }

        .nav-top-right-item-2,
        .nav-top-right-item-3 {
          gap: 3px;


          img {
            width: 12px;
            height: 14px;
        }

        a {
          font-size: 8px;
        }
        }
  }
}

    .nav-bottom-container {
      display: none;
  }

    .nav-bottom-container-phones {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

  .searchbar {
    display: flex;
  }

  .dropdown {
    display: block;
}
    }
  }
}



@media screen and (min-width: 360px) and (max-width: 640px){
  section.menu{

    .nav-top-container{

      .nav-top-left {
        flex-basis: 40%;
      }
    
      .nav-top-center{
        display: none;
      }

      .nav-top-right {
        gap: 10px;

        .nav-top-right-item-1 {
          display: none;
        }

        .nav-top-right-item-2,
        .nav-top-right-item-3 {
          gap: 3px;


          img {
            width: 12px;
            height: 14px;
        }

        a {
          font-size: 8px;
        }
        }
  }
}

    .nav-bottom-container {
      display: none;
  }

    .nav-bottom-container-phones {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

  .searchbar {
    display: flex;
  }

  .dropdown {
    display: block;
}
    }
  }
}