@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

section.photo-grid {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
   
  .photo-grid-container {

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 25px;
  
      h2 {
        font-family: "Poppins", sans-serif;
        font-size: 28px;
        font-weight: 700;
        line-height: 29px;
    }
  
  
  
  
  .photo-grid-gallery {
      display: grid;
      width: 100%;
      height: 100%;
      grid-gap: 10px;
      grid-template-rows: repeat(4, 20vh); 
      grid-template-columns: repeat(6, 13vw);
  
      .row-2 {
        grid-row: span 2;
    }
    
    .col-2 {
        grid-column: span 2;
    }
    
    .row-3 {
        grid-row: span 3;
    }
    
    .col-3 {
        grid-column: span 3;
    }
    
    .row-1 {
        grid-row: span 1;
    }
    
    #item-1 {
        background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.4)), url(/images/Photo-grid-item-1.png);
    }
    
    #item-2 {
        background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.4)), url(/images/Photo-grid-item-2.png);
    }
    
    #item-3 {
        background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.4)), url(/images/Photo-grid-item-3.png);
    }
    
    #item-4 {
        background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.4)), url(/images/Photo-grid-item-4.png);
        background-position: 80% 20%;
        width: 100%;
        height: auto;
    }
    
    #item-5 {
        background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.3)), url(/images/Photo-grid-item-5.png);
    }
    
    #item-6 {
        background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.3)), url(/images/Photo-grid-item-6.png);
    }
  
    .photo-grid-images {
      display: grid;
      background-size: cover;
      border-radius: 10px;
  
      align-content: end;
      padding: 10px;
  
      p {
      font-family: "Poppins", sans-serif;
      font-size: 28px;
      font-weight: 600;
      line-height: 43px;
      text-align: left;
      color: #FFFFFF; 
    }
  } 
}
}
}

/*1920 x 1080 ->  */
@media screen and (min-width: 1599px){

}


/*1440 x 900 ->  */
/*1366 x 768 ->  */
/*1280 x 720 ->  */
@media screen and (min-width: 1279px) and (max-width: 1599px) {

  

}


/*1024 x 768 iPad -> */
@media screen and (min-width: 1024px) and (max-width: 1279px) {

}


/*768 x 1024 iPad -> */
/*800 x 1280 Google Nexus -> */
@media screen and (min-width: 767px) and (max-width: 1024px) {
    section.photo-grid {
    .photo-grid-gallery {
        
      .photo-grid-images {

        p {
        font-family: "Poppins", sans-serif;
        font-size: 24px;
        line-height: 30px;
        }
      }
    } 
}
}


@media screen and (min-width: 640px) and (max-width: 767px){
  section.photo-grid {
   
    .photo-grid-container {
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 25px;
    
        h2 {
          font-family: "Poppins", sans-serif;
          font-size: 28px;
          font-weight: 700;
          line-height: 29px;
      }
    
    
    
    .photo-grid-gallery {
        display: flex;
        flex-direction: column;
  
        .photo-grid-images {
  
        p {
          font-size: 24px;
        }
      }
    }
  }
  }}



@media screen and (min-width: 360px) and (max-width: 640px){
  section.photo-grid {
   
  .photo-grid-container {
      width: 90%;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 25px;
  
      h2 {
        font-family: "Poppins", sans-serif;
        font-size: 28px;
        font-weight: 700;
        line-height: 29px;
    }
  
  
  
  .photo-grid-gallery {
      display: flex;
      flex-direction: column;

      .photo-grid-images {

      p {
        font-size: 24px;
      }
    }
  }
}
}}
  
  